body { 
    display: flex;
    flex-direction: column;
}

.playerScore, .computerScore {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
    background-color: gray;
    border-radius: 10px;
    width: 350px;
    height: 250px;
}

.scoreContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

input {
    width: 200px;
    height: 150px;
    border-radius: 25px;
    font-size: 48px;
    font-family: sans-serif;
    font-weight: 500;
   
}

